@charset "utf-8";
/* CSS Document */
body {
	
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-weight: bold;
}
div.wrapp {
	width: 550px;
	background: rgba(237,105,107,1.00);
	margin: 20% auto;
	padding: 10px;
}
.login_form {
	display: flex;
	justify-content: space-around;
}
.label {
	margin-top: 5px;
}

div.wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

/* web_site.php */
header {
	background: rgba(22,123,205,1.00);
	padding: 20px 0;
	
}
ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
}
a.bridge:link,
a.bridge:visited {
	text-decoration: none;
	color: rgba(255,255,255,1.00);
}
a.bridge:hover {
	text-decoration: underline;
	color: rgba(152,19,21,1.00);
}
a.bridge:active {
	text-decoration: none;
}
.okvir_unos {
	
	border: 1px solid rgba(22,123,205,1.00);
	margin: 0 auto;
	padding: 20px;
}
.h2 {
	color: red;
}
div#footer {
	background: rgba(22,123,205,1.00);
	text-align: center;
	color: rgba(255,255,255,1.0);
	width: 960px;
	margin: 0 auto;
}
a.bridgefooter:link,
a.bridgefooter:visited {
	text-decoration: none;
	color: rgba(0,0,0,1.00);
}
a.bridgefooter:hover {
	text-decoration: underline;
	color: rgba(152,19,21,1.00);
}
a.bridgefooter:active {
	text-decoration: none;
}
/* svakodnevnica.php */
div.news_wrapper {
	display: flex;
	justify-content: space-between;
	
}
main.main_news {
	flex-basis: 520px;
	
}
form.comments {
	
	text-align: right;
	 
}
aside.aside_news {
	flex-basis: 400px;
	text-align: center;
	 
}
